.ap-stats {
    padding: 0px 10px;
    background-color: #f5f5f5;
}
.ap-aui-dialog2,
.ap-aui-dialog2 .aui-dialog2-content,
.ap-aui-dialog2 .ap-iframe-container {
    display: flex;
    flex-direction: column;
}
.ap-aui-dialog2 .aui-dialog2-content,
.ap-aui-dialog2 .ap-iframe-container,
.ap-aui-dialog2 .ap-iframe-container iframe {
    flex: 1;
}
.ap-aui-dialog2 .aui-dialog2-footer {
    position: absolute;
}

.ap-aui-dialog2 div.ap-stats {
    height: auto;
    position: absolute; /* go over the top of the bottom bar when visible */
}

/* add new aui dialog size of fullscreen */
.ap-aui-dialog2.aui-dialog2-fullscreen {
    top: 0;
}

/* add new aui dialog size of maximum */
.ap-aui-dialog2.aui-dialog2-maximum {
    top: 0;
    height: 100%;
}
.ap-aui-dialog2.aui-dialog2-maximum .aui-dialog2-content {
    height: 100%;
}

.ap-aui-dialog2 .aui-dialog2-content {
  padding:0;

    /* in chrome'd dialogs - fixes scrollbars added by iframes with scrollbars pushing the width out */
    overflow:hidden;

    /* in safari, chromeless dialogs become invisible, because apparently GPU FTW */
    -webkit-transform: translatez(0);
    will-change: opacity, visibility;

    display: flex;
    flex-direction: column;
}

.ap-aui-dialog2 iframe {
    display:block;
}

.ap-aui-dialog2.aui-dialog2-chromeless .aui-dialog2-content {
    background-color:transparent;

    /* Override the aui selector that assumes the last-child is the footer */
    border-radius: 0;
}

.ap-aui-dialog2 .ap-status-indicator {
  padding: 5px 10px;
  background: #f5f5f5;
  border-top: 1px solid #e9e9e9;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.ap-aui-dialog2 .ap-stats {
  display: block;
}

/* header controls */
/*
   These styles lifted from the file viewer. We could conceivably define a separate component 'header-controls'
   in AUI that contains its own styles, but adding to AUI is out of scope for the current task.

   Given that plugin devs won't be working directly with these CSS rules, we have some flexibility to refactor
   these internals later.
 */

.ap-header-controls.aui-dialog2 .aui-dialog2-header {
    background-color: #000;
    border-radius: 0;
    height: 50px;
    margin-top: 0;
    padding: 0 0 0 20px;
}

.ap-header-controls .header-title-container {
    max-width: 70%;
    display: block;
    float: left;
    height: 50px
}

.ap-header-controls .header-title-container div {
    color: #fff;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden
}

.ap-header-controls .header-control-panel {
    padding-left: 0;
    text-align: right;
    float: right;
    max-width: 30%;
    display: block;
    height: 50px
}

.ap-header-controls .header-control-panel > span {
    display: inline-block
}

.ap-header-controls .header-control-panel .aui-button {
    background-color: #000;  /* Override blue for primary controls*/
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid #333;
    border-radius: 0px;
    height: 50px;
    float: left;
    margin-left: 0;  /* overrides AUI style of 10px */
    text-align: left;
    text-indent: -999em;
    width: 50px
}

/* Pads the button icons provided by the AUI Icon font */
.ap-header-controls .header-control-panel .aui-icon-small:before {
    color: #fff;
    margin-left: 16px;
}

/* Reduce the height of the content div to allow for the height of the header bar */
.ap-header-controls .aui-dialog2-content {
    max-height: calc(100% - 50px);
}