.ap-status-indicator {
  font-size: 14px;
  line-height: 1.42857142857143;
}
.ap-status-indicator small {
  color: #707070;
}

.ap-loading, .ap-load-timeout {
  padding-left: 4px;
}

.ap-link-disabled, .ap-link-disabled:hover, .ap-link-disabled:visited, .ap-link-disabled:focus {
  color: gray !important;
  text-decoration: none;
}

.ap-iframe-container iframe {
  border: 0;
}

.ap-iframe-container iframe.full-size-general-page {
  border-bottom: 1px solid #ccc;
}

.ap-status-indicator .small-spinner {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 4px;
}

.ap-iframe-container {
  line-height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
}
